coloredlogs==0.8
flake8==2.4.1
flake8-docstrings==0.2.1.post1
mccabe==0.3.1
oauthlib==0.7.2
pep257==0.6.0
pep8==1.5.7
pluggy==0.3.0
py==1.4.30
pyflakes==0.8.1
requests==2.6.0
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.9.0
tox==2.1.1
tweepy==3.3.0
twitter-monitor==0.2.10
virtualenv==13.1.0
